/*background-color: #445c99* - dark blue
background-color: #dc3b60 - pink
background-color: #3e1e5b - purple
#f0edde - offwhite
#342b25 - brown
#44a1d9 - light blue
#81c590 - light bgreen
"https://lh3.googleusercontent.com/pw/AM-JKLXe1HNCiljK2bWFS6BHZGmo5cT5LW-f7GskWatXu7KmwQPJWLkQH0CFEqe-2YnwjvbNEC1NuwnDg_htttG3wBGGljqeKRFXdWM5lZZRrRVnAu5LpwfGNnD7-6ILqh9Asm1Gmg9UVN34Qf2_j7wViBmC=w1919-h886-no?authuser=0");*/

/* body */
body {
    margin: 0;
    font-family: Quicksand, sans-serif;
    opacity: 0.9;
}

body, html {
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}



/* header */
header {
    display: flex;
    background-color: rgb(68, 161, 217, 0.2);
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
    border: 5px double #44a1d9;
    
}

header img {
    margin-left: 20px;
    height: 100px;
    width: auto;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 30px;
    margin: 20px;
}

header li {
    padding: 0px 5px;
    transition: all 0.2s;
    
}

header li:hover {
    padding-bottom: 15px;
    box-shadow: 0 6px 4px -4px #3e1e5b ;
}

.lock {
    background: gray;
    border-radius: 3px;
    width: 17px;
    height: 12px;
    margin-top: 6px;
    position: relative;
  }
  
  .lock:before {
    content: "";
    display: block;
    position: absolute;
    border:3px solid gray;
    top: -14px;
    left: 2.3px;
    width: 7px;
    height: 19px;
    border-radius: 35px 35px 0 0;
  }

  .lock-item {
      display: flex;
  }

/* banner */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/pw/AM-JKLXe1HNCiljK2bWFS6BHZGmo5cT5LW-f7GskWatXu7KmwQPJWLkQH0CFEqe-2YnwjvbNEC1NuwnDg_htttG3wBGGljqeKRFXdWM5lZZRrRVnAu5LpwfGNnD7-6ILqh9Asm1Gmg9UVN34Qf2_j7wViBmC=w1919-h886-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 60%;
   
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner h1 {
    font-size: 55px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.banner p {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
}

button {
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 2em;
    background-color: #445c99;
    color: white;
    border:0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s; 
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    border-color: rgba(255,255,255,1);
}

/* Aims */

.information {
    border: 5px double #3e1e5b;
    /*background-color: rgb(62, 30, 91, 0.4);*/
}

.information h2 {
    text-align: center;
    font-size: 30px;
}

.information img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15%;
    background-color: rgb(62, 30, 91, 0.4);
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0px;
    
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}



/* training details */

.training-details {
    font-size: 25px;
    text-align: left;
    padding: 30px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8fce0;
    

}

/* call to action */

.call-to-action {
    background-color: #dc3b60;
    border: 5px double #652332;
    font-size: 25px;
    padding: 40px;
    margin: auto;
    text-align: center;
    display: flex;
}

.call-to-action .signup {
    width: 45%;
}

.call-to-action span {
    font-size: 500px;
}

.logo-sponsors {
    display: flex;
    justify-content: center;
    padding: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(68, 161, 217, 0.2);
    border: 5px double #44a1d9;
}

/*About-us*/

.about-us a {
    text-decoration: underline;
    color: blue;
}

.about-us a:visited {
    color: rgb(66, 0, 128);
}

.about-us {
    font-size: 17px;
    line-height: 1.6;
}



img.about-us {
    width: 700px;
    height: auto;
    border-radius: 5px;
    margin: 50px;
}

.about-us-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/pw/AM-JKLWpFMTSWya-mnMmY-mmPsuJ2uiq8cEKOBI_Uk8mH-KRPhppHnwpKpmx--YuRzCg4mZxLFYCBHKLtpEK8k689Z6nudz93dcKKaOHjFkb2prCqcvsFMqgamXioagBj7IlVa0RJ4Il2mtYsgV2aVf61U7a=w1919-h886-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 280px;
    
}

.about-us-banner-text {
    text-align: left;
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.about-us-one {
    border: 5px double #3e1e5b;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

.about-us-one-back {
    background-color: #3e1e5b;
}

figure.video {
    margin: 60px 100px;
}

.about-us-two-back {
    background-color: #81c590;
}

.about-us-two {
    border: 5px double #81c590;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

img.about-us-three {
    border-radius: 5px;
    background-color: white;
    
}

.about-us-three {
    text-align: center;
    
    background-color:#dc3b60;
    
    border-radius: 5px;
}



.about-us-three-back {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.about-us-three-back a {
    padding: 3px;
    background-color: #dedcdb;
    border-radius: 2em;
}

.about-us-three-back button {
    margin: 0;
}