/*background-color: #445c99* - dark blue
background-color: #dc3b60 - pink
background-color: #3e1e5b - purple
#f0edde - offwhite
#342b25 - brown
#44a1d9 - light blue
#81c590 - light bgreen
"https://lh3.googleusercontent.com/pw/AM-JKLXe1HNCiljK2bWFS6BHZGmo5cT5LW-f7GskWatXu7KmwQPJWLkQH0CFEqe-2YnwjvbNEC1NuwnDg_htttG3wBGGljqeKRFXdWM5lZZRrRVnAu5LpwfGNnD7-6ILqh9Asm1Gmg9UVN34Qf2_j7wViBmC=w1919-h886-no?authuser=0");*/

/* body */
body {
    margin: 0;
    font-family: Quicksand, sans-serif;
    opacity: 0.9;
}

body, html {
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}



/* header */
header {
    display: flex;
    background-color: rgb(68, 161, 217, 0.2);
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
    border: 5px double #44a1d9;
    
}

header img {
    margin-left: 20px;
    height: 100px;
    width: auto;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 30px;
    margin: 20px;
}

header li {
    padding: 0px 5px;
    transition: all 0.2s;
    
}

header li:hover {
    padding-bottom: 15px;
    box-shadow: 0 6px 4px -4px #3e1e5b ;
}

.lock {
    background: gray;
    border-radius: 3px;
    width: 17px;
    height: 12px;
    margin-top: 6px;
    position: relative;
  }
  
  .lock:before {
    content: "";
    display: block;
    position: absolute;
    border:3px solid gray;
    top: -14px;
    left: 2.3px;
    width: 7px;
    height: 19px;
    border-radius: 35px 35px 0 0;
  }

  .lock-item {
      display: flex;
  }

/* banner */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/pw/AM-JKLXe1HNCiljK2bWFS6BHZGmo5cT5LW-f7GskWatXu7KmwQPJWLkQH0CFEqe-2YnwjvbNEC1NuwnDg_htttG3wBGGljqeKRFXdWM5lZZRrRVnAu5LpwfGNnD7-6ILqh9Asm1Gmg9UVN34Qf2_j7wViBmC=w1919-h886-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 60%;
   
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner h1 {
    font-size: 55px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.banner p {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
}

button {
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 2em;
    background-color: #445c99;
    color: white;
    border:0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s; 
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    border-color: rgba(255,255,255,1);
}

/* Aims */

.information {
    border: 5px double #3e1e5b;
    /*background-color: rgb(62, 30, 91, 0.4);*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.information h2, .information h3 {
    width: 80%;
    margin-left: 5%;
    line-height: 1.6;
    color: #342b25
}

.information img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15%;
    background-color: rgb(62, 30, 91, 0.4);
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0px;
    
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}



/* training details */
.training-details {
    font-size: 20px;
    text-align: left;
    padding: 30px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8fce0;
    margin: 0;

}

/* call to action */

.call-to-action {
    /*background-color: #dc3b60;*/
    border: 5px double #652332;
    font-size: 20px;
    padding: 40px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.call-to-action .signup {
    width: 45%;
}

.call-to-action span {
    font-size: 500px;
    color: #dc3b60;
}

.logo-sponsors {
    display: flex;
    justify-content: center;
    padding: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(68, 161, 217, 0.2);
    border: 5px double #44a1d9;
}

/*About-us*/

.about-us a, .news a {
    text-decoration: underline;
    color: blue;
}

.about-us a:visited, .news a:visited {
    color: rgb(66, 0, 128);
}

.about-us {
    font-size: 17px;
    line-height: 1.6;
}



img.about-us {
    width: 700px;
    height: auto;
    border-radius: 5px;
    margin: 50px;
}

.about-us-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/pw/AM-JKLWpFMTSWya-mnMmY-mmPsuJ2uiq8cEKOBI_Uk8mH-KRPhppHnwpKpmx--YuRzCg4mZxLFYCBHKLtpEK8k689Z6nudz93dcKKaOHjFkb2prCqcvsFMqgamXioagBj7IlVa0RJ4Il2mtYsgV2aVf61U7a=w1919-h886-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 280px;
    
}

.about-us-banner-text {
    text-align: left;
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.about-us-one {
    border: 5px double #3e1e5b;
    padding: 30px;
    width: 70%;
    /*margin: 0 auto;*/
    background-color: white;
    margin-right: 5px;
}

.about-us-one-back {
    background-color: #3e1e5b;
    display: flex;
    padding: 40px 8px;
    justify-content: space-evenly;
}

figure.video {
    margin: 60px 100px;
}

.video p {
    margin: 40px 10px;
}

.videos {
    display: flex;
}

.about-us-videos {
    margin: 80px;
    margin-bottom: 20px;
    width: 70%;
}

.about-us-two-back {
    background-color: #81c590;
}

.about-us-two {
    border: 5px double #81c590;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

img.about-us-three {
    border-radius: 5px;
    background-color: white;
    
}

.about-us-three {
    text-align: center;
    
    background-color:#dc3b60;
    
    border-radius: 5px;
}



.about-us-three-back {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.about-us-three-back a {
    padding: 3px;
    background-color: #dedcdb;
    border-radius: 2em;
}

.about-us-three-back button {
    margin: 0;
}

/*News*/

.news-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/pw/AM-JKLVboh5Sulb_ZcEZAARbPCb0kzcjfYZQb0bsp46N4Bfvi7UuZbCsfgGOfzx6nt27mHtSKrm88ZEQt8SgHmePovwNO9Dyo4nplZqFkE7yOwoC77L9pbLSF_emnNgk4JkfSyBMWMBiT6ZCyLntXZN2P-j0=w1919-h886-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 280px;
    
}

.news-banner-text {
    text-align: left;
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.news-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 65%;
  }

#welcome-back {
    background-image: url("https://images.unsplash.com/photo-1626539897275-73cbec67d24e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: contain;
}

#inaugural-concert {
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWKNvGA1ScIHWE7k-OmGd7HZMwLSPKulGBsVl-T5WG3PYNjEnx0mmL1Z_7X8-bPg_wdbTESwFoyokWLxVEZ1mvidlbxJZ4e1JG6dcqjxj-kE67OPW9nVq02Crbs4fmcM035zVwCljBjdkabbboChAQ2=w1919-h886-no?authuser=0");
    background-size: 120% auto;
}

.odd-news-article h2, .odd-news-article h5{
    
    width: 100%;
    padding: 20px 20px;
    margin: 0;
}

.odd-news-article {
    background-color: #81c590;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.even-news-article h2, .even-news-article h5{
    
    width: 100%;
    padding: 20px 20px;
    margin: 0;
}

.even-news-article {
    background-color: #dc3b60;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px 0px;
    
  }

  .news-seasons {
      width: 100%;
      padding: 20px 15px;
      background-color: #3e1e5b;
      color: white;
      font-size: 20px;
      font-weight: bold;
      
      
  }

  p.news {
      line-height: 1.6;
      background-color: white;
      margin-top: 0;
      padding: 30px 15px;
  }
  
  /* Add a card effect for articles */
  .card {
    /*background-color: white;*/
    /*padding: 20px;*/
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    
   
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

/*Past events*/

.past-events-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/pw/AM-JKLV3FTxoILaaRLMnPgrt7Y6O1504fQGdX3TNP5ue_5LdlKtW7EQoscQvTT-YCqGd0pvVoujvQ2rp0avmM0iabvw7_xO-Io84-r5W3uzk41PxKkOuFU_LpwSuQzmFe2jb7R96qMKHiM41ZsWRn45_wQGy=w1919-h886-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 280px;
    
}

.past-events-banner-text {
    text-align: left;
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

/*Members*/

.members-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/pw/AM-JKLUzZf71cgTM8brlRaBvYOzMtDSfVL5-pCK7ObabRNyQonbusknZDsG8ePzCUKRRuSSbWyN28-GJPQB4OzefoVMdIJ6QFLEJlQ_mtRs9FT0xyRj3RabIiJ29RKMoGFFS7-ZSq4qBOoOeVjzGmaCNYH7D=w1919-h886-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 280px;
    
}

.members-banner-text {
    text-align: left;
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}



p.members {
    line-height: 1.6;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}

main.members {
    padding-bottom: 40px;
}